#sec1 {
    background: yellow;
    height: 500px;
    width: 100%;
}

#sec2 {
    background: orange;
    height: 500px;
    width: 100%;
}

#sec3 {
    background: red;
    height: 500px;
    width: 100%;
}

#sec4 {
    background: black;
    height: 500px;
    width: 100%;
}

body {
    background: black;
}