#sec1 {
    background: yellow;
    height: 500px;
    width: 100%;
    
}

#vader {
    margin-left: 5em;
    height: 15em;
    width: 18em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#sec2 {
    background: orange;
    height: 500px;
    width: 100%;
}

#sec3 {
    background: red;
    height: 500px;
    width: 100%;
}

#sec4 {
    background: black;
    height: 500px;
    width: 100%;
}

body {
    
    background: black;
}


h1 {
    font-size: xx-large;
    font-family: fantasy;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 50px;
}

h2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-family: fantasy;
    font-size: large;
    margin-right: 10em; 
}

#about {
    font-family: fantasy;
    font-size: medium;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 3em;
}